.reviews__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #232222;
  padding-inline: 15px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.name_user {
  display: flex;
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 25px;
  height: 100%;
  width: 100%;
}

.text_rev {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #3b3b3b;
  padding-inline: 15px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 15px;
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 15px;
}

.oneRev {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.reviews-list-move,
.reviews-list-enter-active,
.reviews-list-leave-active {
  transition: all 0.4s ease;
}

.reviews-list-enter-from {
  opacity: 0;
  transform: translateY(-100px);
}

.reviews-list-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}
