.reviews__place {
    display: flex;
    justify-content: center;
    width: 100%;
    order: 1;
    padding-inline: 20px;
    
}

.review {
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 53, 55);
    width: 100%;
    margin-top: 8px;
    margin-bottom: 7px;
    border-radius: 0.5rem;
    order: 1;
    box-shadow: 0.5px 0.5px 0.5px rgb(118, 118, 118)
}


.review__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #232222;
    padding-inline: 15px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    
}

.review__header__name_film {
    display: flex;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 25px;
    height: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

}

.review__header__button_remove {
    display: flex;
    user-select: none;
    cursor: pointer;
}

.review__description {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #3b3b3b;
    padding-inline: 15px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 15px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 15px;
}

.reviews-list-move,
.reviews-list-enter-active,
.reviews-list-leave-active {
    transition: all 0.4s ease;
}

.reviews-list-enter-from {
    opacity: 0;
    transform: translateY(-50px);
    order: 1;
}

.reviews-list-leave-to {
    opacity: 0;
    order: 2;
    transform: translateX(-50px);

}