.header {
    display: flex;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 100px;
    padding: 10px;
    justify-content: center;
}

.person__name,
.favorites,
.reviews {
    display: flex;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 25px;
    padding: 10px;
}

.reviews {
    display: flex;
    flex-direction: column;
}

.favorites {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
}

@media (max-width: 1024px) {
    .wrapper {
        flex-wrap: wrap;
    }
}

.favorites__place {
    display: flex;
    justify-content: center;
    order: 1;
}

.reviews__pagination_place {
    display: flex;
    justify-content: center;
    order: 1;
}