.person__name,
.favorites,
.reviews {
    display: flex;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 25px;
    padding: 10px;
    

}

.reviews {
    display: flex;
    flex-direction: column;
    align-self: center;
    // height: 630px;

}

.favorites {
    display: flex;
    flex-direction: column;
    align-self: center;
    // height: 430px;
}

@media (max-width: 1024px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .person__name,
    .favorites,
    .reviews {
        margin-left: 0px;
    }
}

.favorites__place {
    display: flex;
    justify-content: center;
    order: 1;
}

.pagination_place {
    display: flex;
    justify-content: center;
    order: 1;
}

.personal_page__category_name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    margin-bottom: 10px;
}
